<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">


	<mvc:annotation-driven></mvc:annotation-driven>
	
	<context:component-scan base-package="com"/>


<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	<property name="prefix" value="/WEB-INF/Views/"/>
	<property name="suffix" value=".jsp"/>
</bean>	

<mvc:resources location="/WEB-INF/Resources/css/" mapping="/css/**"></mvc:resources>
<mvc:resources location="/WEB-INF/Resources/js/" mapping="/js/**"></mvc:resources>
<mvc:resources location="/WEB-INF/Resources/fonts/" mapping="/fonts/**"></mvc:resources>
<mvc:resources location="/WEB-INF/Resources/img/" mapping="/img/**"></mvc:resources>
<mvc:resources location="/WEB-INF/Resources/bootstrap/" mapping="/bootstrap/**"></mvc:resources>
<mvc:resources location="/WEB-INF/Resources/plugins/" mapping="/plugins/**"></mvc:resources>
<mvc:resources location="/WEB-INF/Resources/productImage/" mapping="/pimage/**"></mvc:resources>



	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		id="dataSource">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/eshop"></property>
		<property name="username" value="root"></property>
		<property name="password" value=""></property>
	</bean>

	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="annotatedClasses">
			<list>
				<value>com.model.UserProfile</value>
				<value>com.model.Category</value>
				<value>com.model.Product</value>
				<value>com.model.ShopCart</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>

	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<bean id="multipartResolver"   
	class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>  
	
</beans>
